// GRIDS
.simple-cards-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    grid-gap: 30px;
    // display: flex;
    // flex-direction: column;
    img {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        object-fit: cover;
    }
    a {
        text-decoration: none;
        color: black;
    }
}

.bitcoin-index {
    background-color: rgba(255, 255, 255, 0.473);
}

// .contact-preview {
//     display: grid;
//     grid-template: 65px/0.7fr 1.9fr 0.6fr 0.5fr 0.5fr 0.6fr;
//     gap: 20px;
//     align-items: center;
//     padding-inline: 15px;
//      p {
//         margin: 0;
//         text-overflow: ellipsis;
//         overflow: hidden;
//         white-space: nowrap;
//         text-transform: capitalize;
//     }
//     a {
//         text-decoration: none;
//         color: black;
//     }
//     img {
//         height: 40px;
//         width: 40px;
//         border-radius: 50%;
//         object-fit: cover;
//     }
// }
