footer {
    bottom: 0;
    position: fixed;
    text-align: center;
    background-image: url(../../overview-bg.svg);
    z-index: -1;
    width: 100%;
    height: 370px;
    padding: 0px;
    background-size: 120%;
    background-repeat: no-repeat;
    background-position: top;
}

